$primary: #f5f5f5;
$dark-primary: #222;
$gray: #DBDBDB;
$white: #FFF;
$domine: 'Domine', serif;
$montserrat: 'Montserrat', sans-serif;
$primary-text: #333;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-size: 100%;
    height: 100%;
    color: $primary-text;
    margin: 0;
    background-color: $primary;
    font-family: $domine;
    h1,h2,h3,h4 {
        font-family: $montserrat;
        margin: 0;
    }
    input {
        font-family: $domine;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    h2 {
        font-size: 3.5em;
    }
    h3 {
        font-size: 3.25em;
    }
    h4 {
        font-size: 3em;
    }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container-wrap {
    width: 100%;
}
.wrapper {
    width: 100%;
    padding: 40px 0;
}
.battle-net-form {
    margin: 35vh auto 0;
    height: 180px;
    width: 1000px;
    div.form-field {
        float: left;
        margin-right: 75px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    	max-width: 450px;
    	width: calc(100% - 2em);
        &:nth-child(2){
            margin-right: 0;
        }
        input[type=text] {
            padding: 10px;
            border: 2px solid #000;
            color: #000;
            font-size: 2.2em;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        .input-field {
        	background: #fff;
        	box-shadow: 0px 0px 0px 2px transparent;
        	color: #eca29b;
        	-webkit-transition: box-shadow 0.3s;
        	transition: box-shadow 0.3s;
            &:focus {
                box-shadow: 0px 0px 0px 2px #0e83cd;
            }
        }
        .input-label {
            padding: 0;
        	font-weight: bold;
            &::after {
                content: '';
              	position: absolute;
              	top: 0;
              	z-index: -1;
              	width: 100%;
              	height: 4em;
            	box-shadow: 0px 0px 0px 0px;
            	color: #0e83cd;
            }
        }
        .label-content {
        	padding: 0.75em 0.15em;
            display: block;
        }
    }
    input[type="submit"] {
        display: block;
        width: 100%;
        cursor: pointer;
        letter-spacing: 1px;
        padding: 25px 80px;
        margin-top: 20px;
        outline: none;
        transition: all .3s;
        border: 2px solid #000;
        background: #FFF;
        &:hover {
            background: #0e83cd;
            color: #FFF;
        }
    }
}
.input-field:focus + .input-label::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}
.bg-wrap.dark {
    background-color: $dark-primary;
}
.battle-net-form.fixed-top {
    height: 100px;
    padding-top: 16px;
    margin: 0 auto;
    transition: all .5s linear;
    div.form-field {
        width: 300px;
        margin-bottom: 0;
        &:nth-child(2){
            margin-right: 75px;
        }
    }
    input[type="submit"] {
        float: left;
        width: auto;
        margin-top: 0;
        display: inherit;
    }
}
.career-wrapper {
    box-shadow: inset  0  8px 8px -8px #333,
                inset  0 -8px 8px -8px #333;
    transition: all .5s ease;
}
.career-stats-container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    .portrait {
        border-radius: 50%;
        height: 90px;
        width: 90px;
        margin: 10px auto;
        border: 2px solid $primary;
    }
    ul {
        font-size: 20px;
        margin: 0;
        li {
            padding: 2px 0;
        }
    }
}
.card-wrapper {
    background-color: $primary;
    position: relative;
}
.races {
    animation: slidein .5s ease .8s forwards;
    margin-top: -504px;
    min-height: 510px;
}
.race-stats-container {
    width: 1000px;
    margin: 0 auto;
    h4 {
        text-align: center;
    }
    .three-col {
        float: left;
        width: 320px;
        border-radius: 6px;
        margin-right: 20px;
        box-shadow: 0 0 6px 0 #333;
        background-color: $dark-primary;
        color: $white;
        animation: fadeDown 1s ease 1.2s forwards;
        opacity: 0;
        &:last-child {
            margin-right: 0;
        }
        .upper {}
        img {
            width: 100%;
            height: auto;
            border-radius: 6px 6px 0 0;
        }
        .lower{
            padding: 0 20px;
        }
        ul {
            li {
                padding: 2px 0;
            }
        }
    }
}

.match-history-container {
    width: 1010px;
    margin: 0 auto;
    padding: 60px 0;
    h3 {
        text-align: center;
        margin-bottom: 20px
    }
    ul {
        float: left;
        width: 190px;
        height: 150px;
        border-radius: 6px;
        box-shadow: 0 0 6px #000;
        padding: 10px;
        margin: 0px 6px 12px 6px;
        background-color: $dark-primary;
        color: $white;
        opacity: 0;
        li {
            padding: 2px 0;
        }
    }
}


.progress {
    height: 20px;
    overflow: hidden;
    margin-top: 8px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #337ab7;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
}

@mixin animation-delay($delay, $i) {
    animation-delay: $delay + $i;
}

.match {
	-webkit-perspective: 1300px;
	perspective: 1300px;
    .matches {
    	-webkit-transform-style: preserve-3d;
    	transform-style: preserve-3d;
    	-webkit-transform-origin: 0% 0%;
    	transform-origin: 0% 0%;
    	-webkit-transform: rotateX(-80deg);
    	transform: rotateX(-80deg);
    	-webkit-animation: flip .4s ease-in-out forwards;
    	animation: flip .4s ease-in-out forwards;
        @for $i from 2 through 25 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.05s;
            }
        }

    }
}


@-webkit-keyframes fadeDown {
    0% {opacity: 0; -webkit-transform: translateY(-40px);}
    100% {opacity: 1; -webkit-transform: translateY(0);}
}
@keyframes fadeDown {
    0% {opacity: 0; transform: translateY(-40px);}
    100% {opacity: 1; transform: translateY(0);}
}

@-webkit-keyframes slidein {
    to { margin-top: 0;}
}
@keyframes slidein {
    to { margin-top: 0;}
}

@-webkit-keyframes flip {
	0% { opacity: 0; }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { opacity: 0; }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}


@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}
@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}
