.race-stats-container {
    width: $container-width;
    margin: 0 auto;
    h4 {
        text-align: center;
    }
    .three-col {
        float: left;
        width: 320px;
        border-radius: 6px;
        margin-right: 20px;
        box-shadow: 0 0 6px 0 $dark-shadow;
        background-color: $dark-primary;
        color: $white;
        animation: fadeDown 1s ease 1.2s forwards;
        opacity: 0;
        &:last-child {
            margin-right: 0;
        }
        .upper {}
        img {
            width: 100%;
            height: auto;
            border-radius: 6px 6px 0 0;
        }
        .lower{
            padding: 0 20px;
        }
        ul {
            li {
                padding: 2px 0;
            }
        }
    }
    .progress {
        height: 20px;
        overflow: hidden;
        margin-top: 8px;
        background-color: $primary;
        border-radius: 4px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        .progress-bar {
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
            color: $white;
            text-align: center;
            background-color: $blue-progress;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            transition: width .6s ease;
        }
    }
}
