extends layout

block content
  div(ng-controller="GetUserInformationCtrl" class="container-wrap") 
      div(class="bg-wrap")
          form(ng-submit="processForm()" class="battle-net-form")
              div(class="fixed-logo-container")
                  img(class="main-logo" src="/images/sc2-logo-large.png")
              div(class="fixed-form-container")
                  div(class="clearfix")
                      div(class="form-field")
                          input(type="text" class="input-field" ng-model="id" id="battle-net-id" placeholder="battle.net id")
                      div(class="form-field")
                          input(type="text" class="input-field" ng-model="name" id="battle-net-name" placeholder="battle.net name")
                  div(class="button")
                      input(type="submit" value="Submit")     
      div(class="wrapper career-wrapper" ng-show="profile")
          div(class="career-stats-container")
              h2 {{profile.displayName}}
              h3 id: {{profile.id}}
              div(class="portrait" style="background-image: url('{{profile.portrait.url}}'); background-position-x: {{profile.portrait.x}}px; background-position-y: {{profile.portrait.y}}px;")
              ul
                  li Primary Race: {{profile.career.primaryRace}}
                  li Terran Wins: {{profile.career.terranWins}}
                  li Protoss Wins: {{profile.career.protossWins}}
                  li Zerg Wins: {{profile.career.zergWins}}
                  li Highest Team Rank: {{profile.career.highestTeamRank}}
                  li Season Total Games: {{profile.career.seasonTotalGames}}
                  li Career Total Games: {{profile.career.careerTotalGames}}
      div(class="wrapper card-wrapper races" ng-show="profile")
          div(class="race-stats-container clearfix")
              div(class="three-col protoss-container")
                 div(class="upper")
                     img(src="/images/protoss-story-thumb.jpg")
                 div(class="lower")
                     h4 Protoss
                     ul
                         li Level: {{profile.swarmLevels.protoss.level}}
                         li Total Level XP: {{protossMax}}
                         li Current Level XP: {{protossCurrent}} 
                         li
                             progressbar(max="protossMax" value="protossCurrent")
              div(class="three-col terran-container")
                  div(class="upper")
                      img(src="/images/terran-story-thumb.jpg")
                  div(class="lower")
                      h4 Terran
                      ul
                          li Level: {{profile.swarmLevels.terran.level}}
                          li Total Level XP: {{terranMax}}
                          li Current Level XP: {{terranCurrent}}
                          li
                              progressbar(max="terranMax" value="terranCurrent")
              div(class="three-col zerg-container")
                  div(class="upper")
                      img(src="/images/zerg-story-thumb.jpg")
                  div(class="lower")
                      h4 Zerg
                      ul
                          li Level: {{profile.swarmLevels.zerg.level}}
                          li Total Level XP: {{zergMax}}
                          li Current Level XP: {{zergCurrent}}
                          li
                              progressbar(max="zergMax" value="zergCurrent")
          div(ng-show="matches")
              div(class="match-history-container clearfix")
                  h3(class="wow" data-wow-offset="200") Last 25 Matches  
                  div(class="match clearfix")          
                      ul(class="matches wow" data-wow-offset="200" ng-repeat="match in matches")
                          li(ng-repeat="(key, val) in match") 
                              span(class="match-key") {{key}}
                              span(class="match-value")  {{val}}

          
          


           
                        
