html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }
  *:focus, *:before:focus, *:after:focus {
    outline: 0; }

body {
  font-size: 100%;
  height: 100%;
  color: #333;
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Cardo", serif; }
  body h1, body h2, body h3, body h4 {
    font-family: "Montserrat", sans-serif;
    margin: 0; }
  body input {
    font-family: "Cardo", serif;
    border: none; }
  body ul {
    list-style: none;
    padding: 0; }
  body h2 {
    font-size: 3.5em; }
  body h3 {
    font-size: 3.25em; }
  body h4 {
    font-size: 3em; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container-wrap {
  width: 100%; }

.wrapper {
  width: 100%;
  padding: 40px 0; }

.battle-net-form {
  margin: 12vh auto 0;
  width: 1000px; }
  .battle-net-form .main-logo {
    display: block;
    margin: 0 auto;
    padding-right: 25px; }
  .battle-net-form div.form-field {
    float: left;
    margin-right: 70px;
    margin-bottom: 20px;
    position: relative;
    width: 465px; }
    .battle-net-form div.form-field:nth-child(2) {
      margin-right: 0; }
    .battle-net-form div.form-field input[type=text] {
      padding: 10px;
      border-bottom: 3px solid #CFCFCF;
      background: transparent;
      color: #000;
      font-size: 2.2em;
      width: 100%;
      transition: border-color 0.25s linear; }
      .battle-net-form div.form-field input[type=text]:focus {
        outline: 0;
        border-bottom-color: #3a648f; }
  .battle-net-form .button {
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: 40px auto 0;
    background: transparent;
    color: #237546;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
    background: transparent; }
    .battle-net-form .button::before,
    .battle-net-form .button::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #3a648f;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px); }
    .battle-net-form .button::before {
      top: 0;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px); }
    .battle-net-form .button::after {
      bottom: 0;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(10px); }
    .battle-net-form .button:hover,
    .battle-net-form .button:focus {
      color: #fff; }
    .battle-net-form .button:hover::before,
    .battle-net-form .button:focus::before,
    .battle-net-form .button:hover::after,
    .battle-net-form .button:focus::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px); }
    .battle-net-form .button input[type="submit"] {
      cursor: pointer;
      width: 100%;
      background: transparent;
      font-size: 30px;
      font-family: "Montserrat", sans-serif;
      color: #666;
      transition: color 0.1s ease-in-out; }
      .battle-net-form .button input[type="submit"]:hover {
        color: #3a648f; }

/*fix duplicate css*/
.bg-wrap.dark {
  background-color: #222; }

.battle-net-form.fixed-top-hide {
  height: 100px;
  width: 100%;
  padding-top: 16px;
  margin: 0 auto; }
  .battle-net-form.fixed-top-hide .form-field,
  .battle-net-form.fixed-top-hide .main-logo,
  .battle-net-form.fixed-top-hide .button {
    display: none; }

.battle-net-form.fixed-top-show {
  height: 90px;
  width: 100%;
  padding: 20px;
  margin: 0 auto; }
  .battle-net-form.fixed-top-show .fixed-logo-container {
    float: left;
    width: 90px; }
  .battle-net-form.fixed-top-show .fixed-form-container {
    float: right; }
  .battle-net-form.fixed-top-show .form-field {
    display: block;
    width: 175px;
    margin-bottom: 0;
    margin-right: 20px; }
    .battle-net-form.fixed-top-show .form-field input[type="text"] {
      color: #666;
      padding: 2px 10px;
      font-size: 1.2em;
      border-width: 2px;
      border-color: #666; }
      .battle-net-form.fixed-top-show .form-field input[type="text"]:focus {
        border-color: #3a648f; }
  .battle-net-form.fixed-top-show .main-logo {
    display: block;
    float: left;
    width: 75px;
    height: auto; }
  .battle-net-form.fixed-top-show > div .clearfix {
    float: left;
    margin-top: 12px; }
  .battle-net-form.fixed-top-show .button {
    display: block;
    float: left;
    width: 100px;
    margin-top: 7px;
    margin-left: 10px;
    padding: 4px 10px; }
    .battle-net-form.fixed-top-show .button input[type="submit"] {
      font-size: 1.2em; }

.career-wrapper {
  box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  transition: all 0.5s ease; }

.career-stats-container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #FFF; }
  .career-stats-container .portrait {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 10px auto;
    border: 2px solid #f5f5f5; }
  .career-stats-container ul {
    font-size: 20px;
    margin: 0; }
    .career-stats-container ul li {
      padding: 2px 0; }

.card-wrapper {
  background-color: #f5f5f5;
  position: relative; }

.races {
  animation: slidein 0.5s ease 0.8s forwards;
  margin-top: -628px;
  min-height: 645px; }

.race-stats-container {
  width: 1000px;
  margin: 0 auto; }
  .race-stats-container h4 {
    text-align: center; }
  .race-stats-container .three-col {
    float: left;
    width: 320px;
    border-radius: 6px;
    margin-right: 20px;
    box-shadow: 0 0 6px 0 #333;
    background-color: #222;
    color: #FFF;
    animation: fadeDown 1s ease 1.2s forwards;
    opacity: 0; }
    .race-stats-container .three-col:last-child {
      margin-right: 0; }
    .race-stats-container .three-col img {
      width: 100%;
      height: auto;
      border-radius: 6px 6px 0 0; }
    .race-stats-container .three-col .lower {
      padding: 0 20px; }
    .race-stats-container .three-col ul li {
      padding: 2px 0; }

.match-history-container {
  width: 1010px;
  margin: 0 auto;
  padding: 60px 0; }
  .match-history-container h3 {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.4s ease 0.5s forwards; }
  .match-history-container ul {
    float: left;
    width: 190px;
    height: 365px;
    border-radius: 6px;
    box-shadow: 0 0 6px #000;
    padding: 65px 10px 10px 10px;
    margin: 0px 6px 12px 6px;
    color: #FFF;
    opacity: 0;
    background: url("/images/sc2-icon-light.png") no-repeat 73px 8px #222; }
    .match-history-container ul li {
      text-align: center; }
      .match-history-container ul li:nth-child(5n) {
        display: none; }
      .match-history-container ul li span.match-key {
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px groove #CFCFCF;
        margin-bottom: 8px;
        display: block; }
      .match-history-container ul li span.match-value {
        display: block;
        margin-bottom: 15px;
        text-transform: lowercase; }

.progress {
  height: 20px;
  overflow: hidden;
  margin-top: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease; }

.match {
  -webkit-perspective: 1300px;
  perspective: 1300px; }
  .match .matches {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip 0.4s ease-in-out forwards;
    animation: flip 0.4s ease-in-out forwards; }
    .match .matches:nth-child(2) {
      animation-delay: 0.1s; }
    .match .matches:nth-child(3) {
      animation-delay: 0.15s; }
    .match .matches:nth-child(4) {
      animation-delay: 0.2s; }
    .match .matches:nth-child(5) {
      animation-delay: 0.25s; }
    .match .matches:nth-child(6) {
      animation-delay: 0.3s; }
    .match .matches:nth-child(7) {
      animation-delay: 0.35s; }
    .match .matches:nth-child(8) {
      animation-delay: 0.4s; }
    .match .matches:nth-child(9) {
      animation-delay: 0.45s; }
    .match .matches:nth-child(10) {
      animation-delay: 0.5s; }
    .match .matches:nth-child(11) {
      animation-delay: 0.55s; }
    .match .matches:nth-child(12) {
      animation-delay: 0.6s; }
    .match .matches:nth-child(13) {
      animation-delay: 0.65s; }
    .match .matches:nth-child(14) {
      animation-delay: 0.7s; }
    .match .matches:nth-child(15) {
      animation-delay: 0.75s; }
    .match .matches:nth-child(16) {
      animation-delay: 0.8s; }
    .match .matches:nth-child(17) {
      animation-delay: 0.85s; }
    .match .matches:nth-child(18) {
      animation-delay: 0.9s; }
    .match .matches:nth-child(19) {
      animation-delay: 0.95s; }
    .match .matches:nth-child(20) {
      animation-delay: 1s; }
    .match .matches:nth-child(21) {
      animation-delay: 1.05s; }
    .match .matches:nth-child(22) {
      animation-delay: 1.1s; }
    .match .matches:nth-child(23) {
      animation-delay: 1.15s; }
    .match .matches:nth-child(24) {
      animation-delay: 1.2s; }
    .match .matches:nth-child(25) {
      animation-delay: 1.25s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes slidein {
  to {
    margin-top: 0; } }

@keyframes slidein {
  to {
    margin-top: 0; } }

@-webkit-keyframes flip {
  0% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes flip {
  0% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

/*# sourceMappingURL=application.css.map */